* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: arial;
  background: #2ecc71;
  background-image: linear-gradient(to top left, #2980b9, #16a085, #2ecc71);
  position: relative;
  text-align: center;
}

/* title */
header {
  text-align: center;
  font-size: 32px;
  letter-spacing: 10px;
  padding: 20px 10px;
  color: white;
}

/* main table */
.snakeTable {
  width: 210px;
  height: 230px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);
}
@media only screen and (min-width: 768px) {
  .snakeTable {
    width: 315px;
    height: 345px;
  }
}

/* all boxes in the table */
.box {
  background: white;
  border: solid 1px #16a085;
  width: 10px;
  height: 10px;
}
@media only screen and (min-width: 768px) {
  .box {
    width: 15px;
    height: 15px;
  }
}

.food {
  background: #ec0e21;
}

.snake {
  background: #16a085;
}

/* bar showing status below table */
.status {
  background: white;
  color: #16a085;
  border: solid 1px #16a085;
  width: 210px;
  height: 20px;
}
@media only screen and (min-width: 768px) {
  .status {
    width: 315px;
    height: 30px;
  }
}

.score {
  float: right;
  padding: 0 5px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .score {
    padding: 0 10px;
    line-height: 30px;
    font-size: 20px;
  }
}

.hidden {
  display: none !important;
}

/* modular window before and after game */
.modul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  z-index: 100;
}
.start {
  background: rgba(256,256,256,1);
  padding: 60px;
  box-shadow: 0 0 2px 3px rgba(0,0,0,0.3);
  border-radius: 2px;
}
.start span {
  color: #16a085;
  border: 1px solid;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
.start span:hover {
  background: #16a085;
  color: white;
}

footer {
  padding: 5px;
  color: white;
  font-size: 20px;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*                          NAVBAR MENU                            *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ 
.menu-1 {
display: flex;
gap: 1em;
font-size: 18px;
}

.nav-links-1 a:hover {
color: white;
list-style:lower-latin;
}

.menu-1 li {
padding: 5px 14px;
}

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *                          NAVIGATION BAR                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ 
.navbarp {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: var(--darkblue);
  color: white;
  box-shadow: 5px 5px 5px var(--grey) ;
}

.nav-links-1{
  flex-grow: 2;
  z-index: 100;
}
  
.nav-links-1 a {
  color: black;
  font-weight: bold;
  font-size: bold;
  z-index: 100;
}

.logo {
  position: relative;
  flex-grow: 1;
}

.logo a img {
  position: relative;
  /* height: 70px; */
  z-index: 100;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*                          NAVBAR MENU                            *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ 
.menu-1 {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.nav-links-1 a:hover {
  color: white;
  list-style:lower-latin;
}

.menu-1 li {
  padding: 5px 14px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *                          DROPDOWN MENU                          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ 

 input[type=checkbox]{
  display: none;
} 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *                                FOOTER                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ 


 footer{
  position: sticky;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--darkblue);
  padding: 10px 0px; 
}

.block-1{
  margin: 20px 0px;
  color: white;
}

footer h3{
  font-size: 18px;
}

footer p{
  color: white;
  margin: 3px;
  font-size: 17px;
}

.social-media div a {
  color: white;
}

.social-media div a:hover {
  color: rgb(0, 195, 255);
}

.fa-whatsapp{
  color: #006600;
}

.fa-instagram{
  color: darkred;
}
.social-media a{
  color: white;
}

.bx{
  padding: 0 50px;
}


